/*COMMON*/
.small-wrapper {
    max-width: 900px;
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.block-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/*HEADER*/
/*nav*/
header .top-nav{
    padding: 20px;
}

header nav {
    text-align: right;
}

header .burger-menu {
    font-size: 25px;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 24px;
}

.menu.lang li a {
    font-size: 9px;
}

.menu.lang li {
    border-right: 1px solid black;
    padding-right: 10px;
}

.menu.lang li:last-child {
    border-right: none;
    padding-right: 0px;
}

/*jumbotron*/
.jumbotron {
    background-image: url(../img/hero-bg.jpg);
    height: 520px;
    position: relative;
    text-align: center;
    color: white;
}

.jumbotron .teaser {
    width: 50%;
}

.jumbotron .teaser p {
    font-size: 11px;
    padding: 15px;
}

.appstore a img {
    height: 30px;
}